.title {
  font-family: Roboto;
}
body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  width: 190px;
  height: 35px;
  border: dashed 1px red;
  background: url('img/logo.svg');
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
